:root {
  /* Color Palette */
  --color-primary: #ff0045;
  --color-secondary: #ffd2cc;
  --color-background-light: #faf7f5;
  --color-background-dark: #1a1a1a;
  --color-surface-dark: #2a2a2a;
  --color-surface-light: #ffffff;

  --color-border-dark: #b70055;
  --color-border-light: #e5e5e5;
  --color-btn-select: #ffaba1;
  --color-btn-select-dark: #ff3b3b;

  --color-text-dark: #3d3d3d;
  --color-text-light: #e0e0e0;
  --color-text-muted: #8b8b8b;
  --color-text-muted-deep: #555555;

  /* Font */
  --font-heading: "Pretendard", sans-serif;
}
