:root {
  /* Theme Colors */
  --primary-color: #ff0045;
  --secondary-color: #ffd2cc;
  --background-color: #faf7f5;

  /* Button */
  --btn-hover-color: var(--secondary-color);
  --btn-hover-border-color: #b70055;
  --btn-select-color: #ffaba1;
  --btn-select-border-color: var(--primary-color);

  /* Text */
  --banner-text-color-black: #3d3d3d;
  --description-gray: #8b8b8b;

  /* Font */
  --font-heading: "Pretendard", sans-serif;
}
