@import "./colors.css";
@import "./themes.css";
@import "./fonts.css";

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
