:root {
  --background-color: #1a1a1a;
  --surface-color: #2a2a2a;

  /* Text */
  --text-color: #e0e0e0;
  --muted-text-color: #8b8b8b;

  /* Button */
  --btn-hover-color: #ff0045;
  --btn-hover-border-color: #ff0045;
  --btn-select-color: #ff3b3b;
  --btn-select-border-color: #ff3b3b;
}

/* Dark mode  */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #faf7f5;
    --surface-color: #ffffff;

    /* Text */
    --text-color: var(--banner-text-color-black);
    --muted-text-color: var(--description-gray);

    /* Button */
    --btn-hover-color: var(--secondary-color);
    --btn-hover-border-color: #b70055;
    --btn-select-color: #ffaba1;
    --btn-select-border-color: var(--primary-color);
  }
}
