/* Light Theme */
:root {
  --primary-color: var(--color-primary);
  --secondary-color: var(--color-secondary);
  --background-color: var(--color-background-light);
  --surface-color: var(--color-surface-light);

  --box-border-color: var(--color-border-light);
  --btn-hover-color: var(--secondary-color);
  --btn-hover-border-color: var(--color-border-dark);
  --btn-select-color: var(--color-btn-select);
  --btn-select-border-color: var(--primary-color);

  --text-color: var(--color-text-dark);
  --muted-text-color: var(--color-text-muted);
  --muted-deep-text-color: var(--color-text-muted-deep);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-background-dark);

    --surface-color: var(--color-surface-dark);

    --box-border-color: var(--color-border-light);
    --btn-hover-color: var(--color-primary);
    --btn-hover-border-color: var(--color-primary);
    --btn-select-color: var(--color-btn-select-dark);
    --btn-select-border-color: var(--color-btn-select-dark);

    --text-color: var(--color-text-light);
    --muted-text-color: var(--color-text-muted);
    --muted-deep-text-color: var(--color-text-muted-deep);
  }
}
