.buttonRow {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.button {
  padding: 8px 16px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

/* Hover state */
.button:hover {
  border-color: var(--btn-hover-border-color);
  color: var(--btn-hover-border-color);
  background-color: var(--btn-hover-color);
}

/* Selected state */
.selected {
  background-color: var(--btn-select-color);
  border-color: var(--btn-select-border-color);
  color: var(--btn-select-border-color);
}
